@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&family=Open+Sans:wght@400;500;600;800&family=Roboto&display=swap');

*, *::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
:root{
    --white:#fafdfc;
    --whiteHover:#ffffff21;
    --text:#060c0a;
    --green:#1e3932;
    --greenHover: #97d3c591;
    --lightgreen:#d4e9e2;
    --gray:rgba(0,0,0,.58);
}
body{
    font-family: 'Open Sans',sans-serif;
    color: var(--green);
}
/* components */
/* HEADER */

.logo{
    width: 4rem;
    height: 4rem;
    margin-left:5rem;
}
.find-store{
    width: 32px;
    height: 32px;
}
.navbar {
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
      0 0 2px rgb(0 0 0 / 7%);
  }
  
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }
  
.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;;
  }
  
.navbar li {
    margin: .5rem;
    font-size: medium;
    font-weight: bold;
  }
  
.navbar a {
    color: #000;
    text-decoration: none;
  }
  
.navbar a:hover {
    color: var(--green);
  }
    
.navbar-nav-left {
    text-transform: uppercase;
    flex: 1;
    margin-left: 20px;
  }
  
.navbar-nav-right li:first-child a {
    display: flex;
    align-items: center;
  }
  
.navbar-nav-right li:nth-child(2) {
    margin: 0 5px;
  }

  /* NavBarforMobile */

.nav-conatiner-mobile{
    width: 100%;
    margin: 0;;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.nav-conatiner-mobile .logo{
    margin: 0;
    }
/* HamburgerMenuIcon */
.hamburger{
    cursor: pointer;
    width: 24px;
    height: 24px;
    position: relative;
    background: none;
    border: none;
    z-index: 10;
    transition: all 0.25s;
}
.hamburger-top,
.hamburger-middle,
.hamburger-bottom{
   position:absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: black;
    transform: rotate(0);
    transition: all 0.5s;
}
.hamburger-middle{
    transform: translateY(7px);
}
.hamburger-bottom{
    transform: translateY(14px);
}
.open .hamburger-top{
    transform: rotate(45deg) translateY(6px) translateX(6px);
}
.open .hamburger-middle{
    display: none;
}
.open .hamburger-bottom{
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
/* MOBILEMENU */
.mobile-menu{
    position: fixed;
    background-color: #fff;
    top: 85px;
    right: 0;
    color: #000;
    width: 90%;
    height: 100%;
    padding: 30px;
    transition: all 0.3s;
}
.mobile-menu ul{
    line-height: 3;
    border-bottom: rgba(119, 119, 119, 0.562) solid 1px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    list-style: none;
}
.mobile-menu a{
    color: #000;
    text-decoration: none;
    font-weight:600;
    margin-top: 1rem;
  }
  .mobile-menu a:hover{
    color: rgb(11, 97, 3);
}
.mobile-menu div{
    margin-top: 20px;
}
.mobile-menu div a{
    display: flex;
    align-items: center;
    font-size: 16px;
}
.hidden{
    transform: translateX(100%);
}
.no-scroll{
    overflow: hidden;
}
/* Headers */
.h2{
    font-weight: 800;
    font-size: clamp(24px, 3vw+2rem,32px);
    letter-spacing: .02rem;
}
.h2{
    font-weight: 600;
    font-size: clamp(19px, 3vw+2rem,28px);
    letter-spacing: .01rem;
}
/* BTNS */
.button{
    font-weight: 600;
    text-decoration: none;
    border-radius: 10rem;
    padding: .2rem 1rem;
    transition: background-color 200ms ease-in-out;
}
.button--outline-green{
    border: 1px solid var(--green);
    color: var(--green);
    background-color: transparent;
}
.button--outline-green:is(:hover, :focus){
    border: 1px solid var(--green);
    color: var(--green);
    background-color: var(--greenHover);
}

.button--light{
    border: 1px solid var(--white);
    color: var(--white);
    background-color: transparent;
}
.button--light:is(:hover, :focus){
    border: 1px solid var(--white);
    background-color: var(--whiteHover);
}
.button--green{
    border: #000;
    color: var(--white);
    background-color: #000;
}
.button--green:is(:hover, :focus){
background-color: var(--gray);
}

/* sections */
main{
    display: grid;
    justify-content: center;
    gap: 2rem;
    max-width: 1440px;
}
section{
    background-color: var(--lightgreen);
    text-align: center;
}
.section{
    min-height: 8rem;
    align-items: center;
    font-weight: 500;
    justify-content: center;
    padding: 2rem;
}
.section1{
    background-color: var(--green);
    color: var(--white);
}
.section2{
    background-color: var(--green);
    color: var(--white);
}
.section3{
    background-color: var(--green);
    color: var(--white);
}

.flex-child{
    display: grid;
    justify-items: center;
    margin: auto;
    gap: 2rem;
    padding: 2rem;
}
.flex-child-img{
    padding: 0;

}
/* footer */
.footer-section{
    min-height: 8rem;
    background: #fff;
    align-items: center;
    font-weight: 500;
    justify-content: center;
    padding: 2rem;
}
.footer-section a{
    color: #000;
    text-decoration: none;
}
.footer-section a:hover{
    color: #000;
    text-decoration:underline;
}
.footer-items  div{
    margin: 2rem 0 0 1rem;

}
.footer-items ul{
    list-style: none;
}
.footer-items li{
    margin-bottom: 1rem;
}
.footer-items a{
    color: rgba(0,0,0,.58);
    text-decoration: none;
}
.footer-items a:hover{
    color: #000;
}
.footer-items .h3{
    font-size: 1rem;
    margin-left: 1rem;
}
.footer-headings div{
    display: flex;
    justify-content: space-between;
}
.footer-headings div img{
    display: none;
    margin-right: 2rem;
}
.footer-section-social{
    min-height: 8rem;
    background: #fff;
    align-items: center;
    font-weight: 500;
    padding: 2rem;
}

.footer-social-icons{
    display: flex;
    gap: 1rem;
}
.footer-social-icons li{
    list-style: none;
}
.footer-social-icons a{
    color: rgba(0, 0, 0, 0.843);
    text-decoration: none;
}
.footer-social-icons a:hover{
    color: #000;
    
}
.footer-policy-section{
    display: flex;
    gap: 1rem;
}
.footer-policy-section li{
    list-style: none;
}
.footer-policy-section a{
    color: rgba(0, 0, 0, 0.843);
    text-decoration: none;
}
.footer-policy-section a:hover{
    color: #000;
    text-decoration: underline;
}
.footer-section-social p{
    display: block;
    text-align: left;
    margin-top: 2rem;
    padding-left: 2rem;
    color: rgba(0, 0, 0, 0.59);
}
@media screen and (min-width:768px) {
    main{
        margin: 0 10rem 0 10rem;
    }
    .flex-child{
        flex: 1 1 50%;
    }
    section{
        display: flex;
    }
    .reverse{
        flex-direction: row-reverse;
    }
    .mobile-menu{
        display: none;
    } 
    .nav-conatiner-mobile{
        display: none;
    }

}
@media screen and (max-width:768px){
    .navbar-container{
        display: none;
    }
}
@media screen and (max-width:990px) {
    
    .footer-items .hide{
        display: none;
    }
    
    .dropdown.active{
        transform: rotateZ(-180deg);
    }
    .hide.active{
        display: block;
    }
    .footer-headings div img{
        display: block;
        transition: all 0.4s ease;
    }
    .footer-policy-section{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
    }
    .footer-policy-section span{
        display: none;
    }
    .footer-items{
        width: 100%;
    }
    
}

